/* .container{
  box-shadow: 0px 10px 5px 0px rgba(102,101,101,0.75);
-webkit-box-shadow: 0px 10px 5px 0px rgba(102,101,101,0.75);
-moz-box-shadow: 0px 10px 5px 0px rgba(102,101,101,0.75);
} */
.product-list{
  width: 85%;
  margin: auto;
}
.row{
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}
